@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css?family=Noto%20Sans");
@import url("https://fonts.googleapis.com/css?family=Poppins");
@import url("https://fonts.googleapis.com/css?family=Lato");

:root {
    --mc: rgb(16, 120, 168);
    --noto: "Noto Sans", sans-serif;
    --raleway: 'Raleway', sans-serif;
    --roboto: 'Roboto', sans-serif;
    --poppins: 'Poppins', sans-serif;
}

.topbar {
    position: fixed;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 60px;
    background-color: var(--mc);
}

.main {
    position: fixed;
    left: 0%;
    top: 60px;
    height: calc(100% - 60px);
    width: 100%;
    padding-top: 50px;
    padding-left: 50px;
    box-sizing: border-box;
    font-family: var(--noto);
    overflow-y: scroll;
}

.logo {
    position: absolute;
    transform: translate(0%, -50%);
    top: 50%;
    left: 1%;
    color: white;
    font-size: 24px;
    cursor: pointer;
    font-family: var(--raleway);
    text-decoration: none;
}

.nextl {
    color: var(--mc);
}

.code-span {
    background-color: #282c34;
    padding: 5px;
    font-family: monospace;
    color: lightgray;
    font-size: 13px;
}

p {
    font-size: 15px;
}